<template>
  <div class="about">
    <div class="title"> {{msg}} </div>
  </div>
</template>

<script>
export default {
  name: 'about',
  data () {
    return {
      msg: 'Welcome AboutPage'
    }
  },
  head: {
    title: {
      inner: 'About Page'
    }
  }
}
</script>
<style scoped>

</style>





