<template>
  <div class="contact">
    <div class="title"> {{msg}} </div>
    <form action="/send" method="post">
    
    </form>
  </div>
</template>

<script>
export default {
  name: 'contact',
  head: {
    title: {
      inner: 'Contact Page'
    }
  },
  data () {
    return {
      msg: 'Welcome Contact Page'
    }
  }
}
</script>
<style scoped>

</style>





