<template>
  <div class="footer">
    <container>
      <grid>
        <grid-item size="1/3" class="logo-title">
          <!-- Footer left -->
        </grid-item>

        <grid-item size="2/3" class="menu-cnt">
          <!-- Footer right -->
        </grid-item>
      </grid>
    </container>
  </div>
</template>
 
<script>
export default {
  name: 'bottom',
  data () {
    return {
      msg: 'Footer Area'
    }
  }
}
</script>
<style lang="less" scoped>
.footer{
  background-color: #666;
  color:#fff;
  // position: absolute;
  // bottom:0px;
  width:100%;
  height: 100px;
}
</style>







