<template>
  <div class="header">
    
    <container>
    <grid>
      <grid-item size="4/4" :rwd="{tablet: '0/1', compact: '4/4'}" class="logo-title">
        <span class="logo">
          <!-- <img src='../assets/images/me.jpg' alt="Logo" /> -->
          <clazy-load src="static/images/myLogo.svg">
            <!-- <img src="static/images/me.jpg" slot="image"> -->
            <img src="static/images/myLogo.svg" slot="image">
            <div class="preloader" slot="placeholder">
              <img src="../assets/images/loading.gif" alt="loading">
            </div>
          </clazy-load>
        </span>
        <span class="name-title">
          <div class="name">BURAK <b>KUCUKPARMAKSIZ</b></div>
          <div class="title"><b>FRONT-END</b> DEVELOPER</div>
        </span>
      </grid-item>

      <grid-item size="2/3" :rwd="{tablet: '0/1', compact: '1/4'}" class="menu-cnt">
        
      </grid-item>
    </grid>
    </container>
  </div>
</template>

<script>
export default {
  name: 'top',
  data () {
    return {
      msg: 'Header Area'
    }
  },
  head: {
    // Meta tags
    meta: [
      { name: 'application-name', content: 'Personal WebSite' },
      { name: 'description', content: 'Front-End Developer | Burak Kucukparmaksiz' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ],
    link: [
      { rel: 'author', href: 'author', undo: false }, // undo property - not to remove the element
      { rel: 'shortcut icon', href: '/website/favicon.ico', sizes: '16x16', type: 'image/x-icon' }
      // ...
    ]
  }
}
</script>
<style lang="less" scoped>


@media (max-width:420px){
  // .vfg-container{
  //  // padding: 5px!important;
  // }

  .header{
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 9;
    top:0;
    // background-image: url(../../images/head-bg.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    &:before{
      content:'';
      width: 100%;
      display: block;
      height: 100px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.4);
    }
    .logo-title{
      position: relative;
      margin: 20px 0;
  
      .logo{
        display: inline-block;
        width: 60px;
        height: 60px;
        vertical-align: middle;

        img{
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
      .name-title{
        display:inline-block;
        height: 30px;
        vertical-align: middle;
        // position: absolute;
        // top: 50%;
        // transform: translateY(-37%);
        .name, .title{
          em{
            font-weight: bold;
          }
        }
        // .name{
          
        // }
        // .title{
    
        // }
      }
    }
    .menu-cnt{

      .menu-btn{
        height: 64px;
        .txt{
          display: inline-block;
          width: 35px;
          height: 17px;
        }
        .icon{
          display: inline-block;
          width: 35px;
          height: 17px;
  
          i{
            &:before{
              content: '';
              width: 35px;
              height: 2px;
              display: block;
              margin-bottom: 5px;
              background-color: #000;
            }
          }
        }
      }
  
      .menu-wrap{
        display: none;
      }
    }
  }
  
}

@media (min-width: 421px) and (max-width:767px){

}

@media (min-width:768px) and (max-width:1023px){

}

@media (min-width:1024px) and (max-width: 1439px){
  .header{
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 9;
    top:0;
    // background-image: url(../../images/head-bg.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    &:before{
      content:'';
      width: 100%;
      display: block;
      height: 100px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.4);
    }
    .logo-title{
      position: relative;
  
      .logo{
        display: inline-block;
        padding: 10px;
        width: 80px;
        height: 80px;
        img{
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }
      .name-title{
        display:inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .name, .title{
          em{
            font-weight: bold;
          }
        }
        // .name{
          
        // }
        // .title{
    
        // }
      }
    }
    .menu-cnt{
      position: relative;
  
      .menu-wrap{
        text-align: right;
        a{
          padding: 0px 15px;
          display: inline-block;
          position: relative;
          top:4vh;
          color:#000;
          text-transform: uppercase;
  
          &.router-link-exact-active{
            border-bottom:1px solid #000;
          }
        }
      }
      
    }
  }
}

@media (min-width:1440px){
  .header{
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 9;
    top:0;
    // background-image: url(../../images/head-bg.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    &:before{
      content:'';
      width: 100%;
      display: block;
      height: 100px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.4);
    }
    .logo-title{
      position: relative;
  
      .logo{
        display: inline-block;
        padding: 10px;
        width: 80px;
        height: 80px;
        img{
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }
      .name-title{
        display:inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .name, .title{
          em{
            font-weight: bold;
          }
        }
        // .name{
          
        // }
        // .title{
    
        // }
      }
    }
    .menu-cnt{
      position: relative;
  
      .menu-wrap{
        text-align: right;
        a{
          padding: 0px 15px;
          display: inline-block;
          position: relative;
          top:4vh;
          color:#000;
          text-transform: uppercase;
  
          &.router-link-exact-active{
            border-bottom:1px solid #000;
          }
        }
      }
      
    }
  }
}
</style>







