<template>
  <div class="hire-me">
    <div class="hire-me-wrapper">
        <div class="title"> {{msg}} </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hire-me',
  data () {
    return {
      msg: 'Welcome Hire Me Page'
    }
  },
  head: {
    title: {
      inner: 'Hire Me Page'
    }
  }
}
</script>






