<template>
  <div class="home" v-bar>
    <div class="home-wrapper">
        <div class="img-cnt">
          <clazy-load src="static/images/slider/slide1.jpg">
            <img src="static/images/slider/slide1.jpg" slot="image">
            <div class="preloader" slot="placeholder">
              <img src="../assets/images/loading.gif" alt="loading">
            </div>
          </clazy-load>
        </div>
        
        <container>
          <!-- <grid vertical="middle" :rwd="{compact: 'stack'}">
            <grid-item size="4/6" :rwd="{compact: '0/1'}">
              <span class="text"><b>Let's</b> build <b>Responsive</b> and <b>Modern</b> Website</span>
              <div class="contact-btn">
                <router-link to="Contact">Contact</router-link>
              </div>
            </grid-item>

            <grid-item size="2/6" :rwd="{compact: '1/1'}">
            </grid-item>
          </grid> -->
          <div>
            Coming soon. 
          </div>
        </container>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      msg: 'Welcome HomePage'
    }
  },
  head: {
    title: {
      inner: 'HomePage'
    }
  }
}
</script>
<style lang="less" scoped>
.home{
  background-color: #dedede;
  width: 100%;
  height: ~"calc(100% - 200px)";

  .home-wrapper{
    // background-image: url(../../images/slider/slide1.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    width: 100%;
    height: 100%;

    .img-cnt{
      img{
        width: 100%;
        position: absolute;
      }
    }

    .text{
      text-transform: uppercase;
      font-size: 4em;
      position: relative;
      top: 3vh;
    }
    .contact-btn{
      position: relative;
      
      a{
        position: absolute;
        border: 2px solid #000;
        top: 40px;
        padding: 10px 15px;
        font-size: 20px;
        color:#000;
        &:hover{
          background-color: #000;
          color: #fff;
        }
      }
    }

    

  }
}

</style>






