<template>
  <div class="services">
    <div class="services-wrapper">
        <div class="title"> {{msg}} </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'services',
  data () {
    return {
      msg: 'Welcome Services Page'
    }
  },
  head: {
    title: {
      inner: 'Services Page'
    }
  }
}
</script>






